<li class="bg-dark-30 bg-dark shop-page-header" style="background-image:url('https://cdn.shopify.com/s/files/1/0639/4934/0808/files/slider1.png?v=1720466227');">
    <div class="titan-caption">
        <div class="caption-content">
        <div class="font-alt mb-30 titan-title-size-1"> This is Titan</div>
        <div class="font-alt mb-40 titan-title-size-4">Exclusive products</div>
        <a class="section-scroll btn btn-border-w btn-round" href="#latest">Learn More</a>
        </div>
    </div>
</li>
<li class="bg-dark-30 bg-dark shop-page-header" style="background-image:url('https://cdn.shopify.com/s/files/1/0639/4934/0808/files/slider3.png?v=1720466251');">
    <div class="titan-caption">
        <div class="caption-content">
        <div class="font-alt mb-30 titan-title-size-1"> This is Titan</div>
        <div class="font-alt mb-40 titan-title-size-4">Exclusive products</div>
        <a class="section-scroll btn btn-border-w btn-round" href="#latest">Learn More</a>
        </div>
    </div>
</li>